body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
}

.parent-container {
  display: flex;
  justify-content: center;
}

.content-container {
  max-width: 1440px;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 16px;
  font-size: 18px;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}
