body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.parent-container {
  display: flex;
  justify-content: center;
}

.content-container {
  max-width: 1440px;
  width: 100%;
}
